node_modules/
dist/
test-results/
allure-results/
allure-report/
reports/
screenshots/
videos/
logs/
auth-state.json
created-employees.json
created-users.json
created-customers.json
.env
.env.dev
.env.qa
.env.uat
.env.prod
*.log
